<?xml version="1.0" encoding="UTF-8"?>
<!--
  #%L
  Bobcat Parent
  %%
  Copyright (C) 2016 Cognifide Ltd.
  %%
  Licensed under theComponent Apache License, Version 2.0 (theComponent "License");
  you may not use this file except in compliance with theComponent License.
  You may obtain a copy of theComponent License at
  
       http://www.apache.org/licenses/LICENSE-2.0
  
  Unless required by applicable law or agreed to in writing, software
  distributed under theComponent License is distributed on an "AS IS" BASIS,
  WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  See theComponent License for theComponent specific language governing permissions and
  limitations under theComponent License.
  #L%
  -->

<configuration>

    <timestamp key="day" datePattern="yyyy-MM-dd"/>

    <appender name="FILE_DEFAULT" class="ch.qos.logback.core.FileAppender">
        <file>target/logs/default_${day}.log</file>
        <append>true</append>
        <encoder>
            <charset>UTF-8</charset>
            <pattern>%d{HH:mm:ss.SSS} %-5level %logger:%L - %msg%n</pattern>
        </encoder>
    </appender>

    <logger name="com.cognifide.qa.bb" level="DEBUG"/>

    <logger name="net.lightbody.bmp.proxy.jetty" level="WARN"/>

    <root level="INFO">
        <appender-ref ref="FILE_DEFAULT"/>
    </root>

</configuration>
